html {
  font-size: 12px;
}

body {
  width: 100%;
  margin: 0;
  background-color: #68CDD5;
}

.back{
  margin: 10px 10px;
}

.back img {
  width: 30px;
  height: auto;
}

.logo{
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.logo img {
  width: auto;
  height: 50px;
}

.signature {
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  color: white;
}

.group {
  float: left;
  margin-top: 120px;
  margin-left: 12%;
  text-align: center;
  color: white;
}

.address {
  float: right;
  margin-top: 120px;
  margin-right: 12%;
  text-align: center;
  color: white;
}

.group img,
.address img {
  height: 50px;
  width: auto;
}