* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.login-bar span {
  margin-left: 1.5rem;
  color: #29b078;
}

.login-list {
  width: 107px;
  height: 24px;
  margin: 8px 0;
  margin-right: 1.5rem;
  list-style: none;
  background: url(../img/contact.png);
}

.navbar {
  /* 不用 flex 设置垂直居中，不然 hover 显示 border-bottom 时高度会变动 */
  display: flex;
  height: 80px;
  background-color: #29b078;
}

/* 用 wrap 来设置宽度等使导航栏按钮最右侧和上边对齐 */
.nav-list-wrap {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  list-style: none;
  color: white;
}

.nav-list a {
  display: block;
  padding: 0 1.5rem;
  line-height: 77px;
  color: white;
  text-decoration: none;
}

.nav-list a:hover {
  border-bottom: 3px solid white;
}

.slideshow img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo4 {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/logo4.png);
}

.merit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10rem;
  color: #666;
}

.merit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.card-title {
  margin: 1rem 0;
}

.merit-card:nth-child(3) {
  border-right: 1px dashed #ddd;
}

.merit-img-div {
  height: 4rem;
}

.card-other {
  justify-content: flex-end;
}

.card-other p {
  margin-top: 1rem;

}

.learning-way {
  height: 10rem;
}

